@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cutive&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cutive&family=Kumbh+Sans:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Syne:wght@400..800&display=swap');
*{
    background-color: #F5F5EF;
    text-align: center;
    margin: 0;
}
html, body{
    height: auto;
    width: 100%;
    overflow-x: hidden;
}
.header{
    margin: 0 3.333vw;
    display: flex;
    justify-content: space-between;
    padding: 1.111vw;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-family: Syne;
    font-size: 2.917vw;
    font-weight: 800;
    line-height: 4.545vh;
    letter-spacing: -0.04em;
    text-align: left;
    color: #1D221B;
}
.menu{
    width: 38.958vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
a {
    font-family: Cutive;
    font-size: 1.944vw;
    font-weight: 400;
    line-height: 3.463vh;
    letter-spacing: -0.01em;
    text-decoration: none;
    color: #1D221B;
    text-align: center;
}
a:hover{
    text-shadow:-2px 2px 4px #403c49;
    transition: 0.5s;
}
.divider{
    border: 1px solid #17340929;
    text-align: left;
}
.main{
    margin: 0 3.333vw;
    text-align: center;
}
.landing_1{
    padding: 6.667vw 0;
    gap: 1.667vw;
}
.head{
    font-family: Cutive;
    font-size: 8.333vw;
    font-weight: 400;
    line-height: 8.333vw;
    letter-spacing: -0.02em;
    text-align: center;
    padding: 2vw 0;
    border-radius: 3vw;
    color: rgba(29, 34, 27, 1);
}
.head:hover{
    animation: ease-in-animation 1s forwards;
    background-color: #000000;
    color: #F5F5EF;
}
@keyframes ease-in-animation {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.one{
    width: 100%;
    height: auto;
    gap: 0px;
    border-radius: 22px;
    margin-top: 5.195vh;
}
.content{
    padding: 5.667vw 0;
    gap: 1.667vw;
}
.heady{
    font-family: Cutive;
    font-size: 2.361vw;
    font-weight: 400;
    line-height: 2.778vw;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(29, 34, 27, 1);
}
.heady:hover{
    text-shadow: -2px 2px 4px #403c49;
}
.service{
    display: flex;
    justify-content: space-between;
}
.image{
    margin-top: 2.195vh;
    width: 28.889vw;
    height: auto;
}
.text{
    margin: 0.833vw 0;
}
.h{
    font-family: Cutive;
    font-size: 1.389vw;
    font-weight: 400;
    line-height: 1.667vw;
    text-align: center;
    color: rgba(29, 34, 27, 1);
}
.des{
    font-family: Kumbh Sans;
    font-size: 1.042vw;
    font-weight: 500;
    line-height: 2.389vw;
    text-align: center;
    color: rgba(29, 34, 27, 1);
}
.btn{
    font-family: Kumbh Sans;
    font-size: 1.042vw;
    font-weight: 600;
    line-height: 1.389vw;
    text-align: left;
    background-color: rgba(32, 79, 10, 1);
    color: rgba(251, 255, 250, 1);
    padding: 0.556vw 1.111vw;
    border-radius: 8px;
    border: none;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(72, 179, 23);
    box-shadow: -5px 5px 4px #000000;
}
@media (max-width: 768px) {
    .service{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.667vw;
    }
    .image{
        width: 60vw;
        border-radius: 5vw;
    }
    .heady{
        font-size: 3vw;
        text-align: center;
        margin: 0 7vw 3vw 7vw;
        background-color: rgb(3, 15, 15);
        padding: 3vw;
        color: #F5F5EF;
        border-radius: 5vw;
    }
    .h{
        font-size: 2.5vw;
        line-height: 3vw;
    }
    .des{
        font-size: 2vw;
    }
    .btn{
        scale: 1.5;
    }
    .email-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .social{
        scale: 50%;
    }
}
img:hover{
    cursor: pointer;
    scale: 103%;
    transition: 1s;
    border-radius: 10px;
    box-shadow: -5px 5px 4px #000000;
}
.contact_bar{
    padding: 3.333vw 0;
    gap: 3.333vw;
    display: flex;
}
.contact{
    width: 45.556vw;
    height: auto;
    font-family: Cutive;
    font-size: 1.944vw;
    font-weight: 400;
    line-height: 2.222vw;
    letter-spacing: -0.01em;
    text-align: left;
}
.t1{
    font-family: Kumbh Sans;
    font-size: 1.181vw;
    font-weight: 500;
    line-height: 1.944vw;
    text-align: left;
}
.event_foot{
    padding: 6.667vw 0;
    gap: 3.333vw;
}
.foot_text{
    font-family: Cutive;
    font-size: 2.361vw;
    font-weight: 400;
    line-height: 2.778vw;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(29, 34, 27, 1);
    width: 50vw;
    margin: 0 21.667vw;
}
.email-container{
    margin-top: 2vw;
    gap: 0.833vw;
}
input{
    width: 31.042vw;
    height: 3.333vw;
    gap: 0.556vw;
    border-radius: 0.556vw;
    border: 2px solid rgba(23, 52, 9, 0.16);
    background-color: rgba(218, 218, 202, 0.4);
    font-family: Kumbh Sans;
    font-size: 1.389vw;
    font-weight: 500;
    line-height: 1.667vw;
    text-align: left;
    color: rgba(29, 34, 27, 0.4);
    padding-left: 1vw;
}
.btn-submit{
    width: 9.792vw;
    height: 3.333vw;
    gap: 0.556vw;
    padding: 0.833vw 1.667vw;
    border-radius: 0.556vw;
    background-color: rgba(32, 79, 10, 1);
    color: rgba(251, 255, 250, 1);
    font-family: 'Kumbh Sans';
    font-size: 1.389vw;
    font-weight: 600;
    line-height: 1.667vw;
    text-align: left;
    margin-left: 1vw;
}
.btn-submit:hover{
    cursor: pointer;
    background-color: rgb(72, 179, 23);
    box-shadow: -5px 5px 4px #000000;
    border: none;
}
.instagram{
    width: 3.333vw;
    height: 3.333vw;
    margin: 0 2vw;
}
.facebook{
    width: 3.333vw;
    height: 3.333vw;
}
.twitter{
    width: 3.333vw;
    height: 3.333vw;
}
.main1{
    margin: 0 3.333vw;
    text-align: center;
    padding: 6.667vw 0;
}
.foot{
    width: 93.333vw;
    margin: 0 3.333vw;
    padding: 6.667vw 0 1.667vw 0;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.page_link{
    font-family: Cutive;
    font-size: 1.944vw;
    font-weight: 400;
    line-height: 2.222vw;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgba(29, 34, 27, 0.62);
}
.btn-contact{
    width: 15.972vw;
    height: auto;
    padding: 0.833vw 1.667vw;
    border-radius: 8px;
    border: 2px solid rgba(23, 52, 9, 0.16);
    font-family: Kumbh Sans;
    font-size: 1.389vw;
    font-weight: 600;
    line-height: 1.667vw;
    text-align: center;
}
.btn-contact:hover{
    cursor: pointer;
    background-color: rgb(72, 179, 23);
    box-shadow: -5px 5px 4px #000000;
}




